<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">

<div id="cma-uniques" class="white-box-content ">
        <div class="row align-center">
            <div class="column small-12 wbc-background">
              <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
                                <div class="row wbc-row-2 align-center no-hr"><div class="columns small-12"><div class="row align-center"><div class="columns small-12 wow slide-in-right" style="visibility: visible; animation-name: e;"><h1 class="join-us">Get a Guaranteed Offer on Your Home!<br>Close in as Little as 21 Days! </h1>
                                <h5 class="join-us-subtitle">An Easier Way to Sell Your Home</h5></div></div></div></div>            </div>
        </div>
    </div>
</header>
